* {
  margin: 0;
  padding: 0;
}

html, body {
height: 100%
}

body {
background-image: url("images/waves.jpg");
/*height: 100%;*/
background-repeat: no-repeat;
background-position: top;
background-size: cover;
background-attachment: fixed;
}

/* EMERGENCY COLUMN CENTERER */

.col-centered{
    float: none;
    margin: 0 auto;
}

/* HEADER / APPS SECTION STYLES */

.header-apps {
  font-family: Roboto, sans-serif;
  color: white;
  letter-spacing: 0.5rem;
  text-align: center;
  margin: 20px 0 10px 0;
}

.header-apps img {
  display: block;
  margin: 0 auto;
}

.clock {
font-size: 3.5rem;
}

.icon {
  width: 50px;
  height: 50px;
}

.weather {
font-size: 1.5rem;
}

.weather-item {
  display: inline-flex;
}

/* TABS FUNCTIONALITY */

[data-tab-target]{
display: inline-block;
text-align: center;
}

[data-tab-content]{
display: none;
width: inherit;
height: inherit;
}

.active[data-tab-content]{
display: block;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  /* border-bottom: 1px solid black; */
  color: #000;
  margin-bottom: 25px;
}

/* INNER BOX STYLES */

.box {
  height: 55vh;
  background-color: #407088;
  background-color: rgba(64, 112, 136, 0.3);
  border-radius: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.tab-links {
  width: 50px;
  margin: 0 10px 5px 10px;
}

/* WATER FEATURE STYLES */

 .water {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Times New Roman', serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 2rem;
  cursor: default;
  padding-top: 15px;
}
